In [23]:
import numpy as np # library to handle data in a vectorized manner
import pandas as pd # library for data analsysis

Scraping Wikipedia file and storing it in a dataframe

In [39]:
df = pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M')[0]

In [40]:
df.head()

  Postal code           Borough                Neighborhood
0         M1A      Not assigned                         NaN
1         M2A      Not assigned                         NaN
2         M3A        North York                   Parkwoods
3         M4A        North York            Victoria Village
4         M5A  Downtown Toronto  Regent Park / Harbourfront

Dropping all entries where Borough is not assigned

In [41]:
df.drop(df[df['Borough'] == 'Not assigned' ].index , inplace=True)

In [42]:
df.head()

  Postal code           Borough                                  Neighborhood
2         M3A        North York                                     Parkwoods
3         M4A        North York                              Victoria Village
4         M5A  Downtown Toronto                    Regent Park / Harbourfront
5         M6A        North York             Lawrence Manor / Lawrence Heights
6         M7A  Downtown Toronto  Queen's Park / Ontario Provincial Government

Checking for multiple entries of the same postal code

In [50]:
df['Postal code'].value_counts()

M1S    1
M9P    1
M2H    1
M6N    1
M1M    1
M1J    1
M9L    1
M1L    1
M5N    1
M4W    1
M9B    1
M3B    1
M3C    1
M1W    1
M4P    1
M5H    1
M5C    1
M4V    1
M4A    1
M1K    1
M3M    1
M4X    1
M9N    1
M8V    1
M1R    1
M5A    1
M5B    1
M9R    1
M8Z    1
M2M    1
M5K    1
M4N    1
M1B    1
M8Y    1
M3J    1
M4J    1
M4M    1
M5E    1
M4Y    1
M1H    1
M5J    1
M5X    1
M5W    1
M5L    1
M4S    1
M6M    1
M9C    1
M7Y    1
M4T    1
M6C    1
M4E    1
M1N    1
M6H    1
M2L    1
M3L    1
M6P    1
M4G    1
M5V    1
M6R    1
M7A    1
M4K    1
M2R    1
M4L    1
M3N    1
M3K    1
M6K    1
M4H    1
M3A    1
M4B    1
M9V    1
M9W    1
M4C    1
M1T    1
M6S    1
M8W    1
M6B    1
M9M    1
M8X    1
M1P    1
M3H    1
M6J    1
M7R    1
M5S    1
M6A    1
M1E    1
M1G    1
M5R    1
M5M    1
M2N    1
M2P    1
M2J    1
M5P    1
M1V    1
M4R    1
M2K    1
M6L    1
M1C    1
M6G    1
M1X    1
M5T    1
M6E    1
M5G    1
M9A    1
Name: Postal code, dtype: int64

Since all postal codes in the dataframe are unique I replace all the / with comma as prompted by the question

In [51]:
df['Neighborhood']=df['Neighborhood'].str.replace('/',',')

In [52]:
df.head()

  Postal code           Borough                                  Neighborhood
2         M3A        North York                                     Parkwoods
3         M4A        North York                              Victoria Village
4         M5A  Downtown Toronto                    Regent Park , Harbourfront
5         M6A        North York             Lawrence Manor , Lawrence Heights
6         M7A  Downtown Toronto  Queen's Park , Ontario Provincial Government

Check for any Not assigned or blank neighborhood entries

In [54]:
df['Neighborhood'].str.find('Not assigned') | df['Neighborhood'].str.find('')

2     -1
3     -1
4     -1
5     -1
6     -1
8     -1
9     -1
11    -1
12    -1
13    -1
14    -1
17    -1
18    -1
20    -1
21    -1
22    -1
23    -1
26    -1
27    -1
30    -1
31    -1
32    -1
36    -1
39    -1
40    -1
41    -1
45    -1
46    -1
47    -1
48    -1
49    -1
50    -1
54    -1
55    -1
56    -1
57    -1
58    -1
59    -1
63    -1
64    -1
65    -1
66    -1
67    -1
68    -1
72    -1
73    -1
74    -1
75    -1
76    -1
77    -1
80    -1
81    -1
82    -1
83    -1
84    -1
85    -1
86    -1
89    -1
90    -1
91    -1
92    -1
93    -1
94    -1
95    -1
98    -1
99    -1
100   -1
102   -1
103   -1
104   -1
107   -1
108   -1
109   -1
111   -1
112   -1
113   -1
114   -1
116   -1
117   -1
120   -1
121   -1
122   -1
126   -1
129   -1
130   -1
135   -1
138   -1
139   -1
142   -1
143   -1
144   -1
147   -1
148   -1
151   -1
152   -1
153   -1
156   -1
157   -1
160   -1
165   -1
168   -1
169   -1
178   -1
Name: Neighborhood, dtype: int64

Resetting index

In [57]:
df.reset_index(drop=True,inplace = True)

In [58]:
df.head(12)

,Postal code,Borough,Neighborhood
0,M3A,North York,Parkwoods
1,M4A,North York,Victoria Village
2,M5A,Downtown Toronto,"Regent Park , Harbourfront"
3,M6A,North York,"Lawrence Manor , Lawrence Heights"
4,M7A,Downtown Toronto,"Queen's Park , Ontario Provincial Government"
5,M9A,Etobicoke,Islington Avenue
6,M1B,Scarborough,"Malvern , Rouge"
7,M3B,North York,Don Mills
8,M4B,East York,"Parkview Hill , Woodbine Gardens"
9,M5B,Downtown Toronto,"Garden District, Ryerson"
10,M6B,North York,Glencairn
11,M9B,Etobicoke,"West Deane Park , Princess Gardens , Martin Gr..."

In [60]:
df.shape

(103, 3)